/* 아이디찾기  CSS */
.findID{ width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }

/* 아이디찾기 로고 CSS */
.findID__logo{ position: relative; width: 100px; height: 100px; border-radius: 70%; display: flex; justify-content: center; align-items: center; overflow: hidden; border: 1px solid #000; }
.findID__logo--img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }

/* 아이디찾기 폼 CSS */
.findID__form{ margin-top: 5.75rem; width: 100%; display: grid; grid-template-rows: repeat(1fr, 3); place-items: center; }
.findID__form--input{ margin-top: 0.5rem; padding: 1rem; width: calc(100% - 60px); border-radius: 1.625rem; border: 1px solid #000; overflow: hidden; }
.findID__form--input::placeholder{ text-align: center; }
.findID__form--input-login{ margin-top: 1rem; cursor: pointer; background-color: #fff; } 

/* 아이디찾기 메뉴 CSS */
.findID__navi{ margin-top: 1rem; display: grid; grid-template-rows: repeat(1fr, 2); place-items: center; }
.findID__navi > *{ font-size: 1rem; font-weight: normal; }
.findID__navi--find{ display: flex; place-items: center; }