/* 시스템 메인 컬러 */
:root{ --main-color1: #000; }

/* CSS 초기화 */
*{ margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; list-style: none; font-size: 100%; color: #000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: auto; }
code{ font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', 'monospace'; }
