:root{
    --main-color1: #EA5515;
    --main-color2: #F5A21A;
    --main-color3: #F4E4D2;
    --main-black: #000000;
    --main-gray: #666666;
    --main-white: #ffffff;
}
*::-webkit-scrollbar{ width: 0; }
body{ background-color: #aaa; }
button{ cursor: pointer; }

@keyframes fadeUp {
    from{ opacity: 0; transform: translateY(20%); }   
    to{ opacity: 1; transform: translateY(0%); }   
}