<<<<<<< HEAD
*{ margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none; color: #333; font-size: 100%; font-weight: normal; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; outline: none; border: none; background-color: transparent; }
=======
:root{
    --main-color1: #f5a315;
    --main-color2: #fcca14;
    --back-color1: #f5e4d2;
    --black-color: #000000;
    --nickel-color: #666666;
    --silver-color: #cccccc;
    --moon-color: #999999;
    --coal-color: #333333;
    --snow-color: #f4f4f4;
}
@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 100;
    src: url("./styles/fonts/NotoSansKR-Light.woff2")  format('woff2'),
    url("./styles/fonts/NotoSansKR-Light.woff") format('woff'),
    url("./styles/fonts/NotoSansKR-Light.otf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: normal;
    src: url("./styles/fonts/NotoSansKR-Regular.woff2")  format('woff2'),
    url("./styles/fonts/NotoSansKR-Regular.woff") format('woff'),
    url("./styles/fonts/NotoSansKR-Regular.otf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    src: url("./styles/fonts/NotoSansKR-Medium.woff2")  format('woff2'),
    url("./styles/fonts/NotoSansKR-Medium.woff") format('woff'),
    url("./styles/fonts/NotoSansKR-Medium.otf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    src: url("./styles/fonts/NotoSansKR-Bold.woff2")  format('woff2'),
    url("./styles/fonts/NotoSansKR-Bold.woff") format('woff'),
    url("./styles/fonts/NotoSansKR-Bold.otf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: bold;
    src: url("./styles/fonts/NotoSansKR-Black.woff2")  format('woff2'),
    url("./styles/fonts/NotoSansKR-Black.woff") format('woff'),
    url("./styles/fonts/NotoSansKR-Black.otf") format('truetype');
}

*{ margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none; color: var(--black-color); font-family: 'Noto Sans CJK KR'; font-size: 100%; font-weight: normal; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; outline: none; border: none; background-color: transparent; }

>>>>>>> ff63963d8dc97a23b8ea639162737c617737c12f
